<launch>
	<arg name="world_file" default="trees.world" />

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find drone_swarm)/world/trees.world" />
		<arg name="paused" value="false" />
		<arg name="use_sim_time" value="true" />
		<arg name="gui" value="true" />
		<arg name="debug" value="false" />
	</include>
	
	<node name="spawn_drone1" pkg="gazebo_ros" type="spawn_model" args="-file $(find drone_swarm)/urdf/drone.urdf -urdf -z 1 -model drone1" />
	<node name="drone1_broadcaster" pkg="drone_swarm" type="drone_broadcaster.py" args="model:=drone1" output="screen" ns="drone1" />
	<node name="drone1_controller" pkg="drone_swarm" type="drone_controller.py" args="model:=drone1"  output="screen" ns="drone1"/>
	
	<node name="spawn_drone2" pkg="gazebo_ros" type="spawn_model" args="-file $(find drone_swarm)/urdf/drone.urdf -urdf -z 1 -model drone2" />
	<node name="drone2_broadcaster" pkg="drone_swarm" type="drone_broadcaster.py" args="model:=drone2" output="screen" ns="drone2" />
	<node name="drone2_controller" pkg="drone_swarm" type="drone_controller.py" args="model:=drone2"  output="screen" ns="drone2"/>
	
	<node name="ground_control" pkg="drone_swarm" type="ground_control.py" args="amount_of_drones:=2"/>
</launch> 
